{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main class="ptf-main">
    <article class="ptf-page">
        <section class="jarallax">

            <div class="ptf-spacer" style="--ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
            <div class="container">
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                    <h1 class="fz-130 fz-90--md fw-normal has-white-color">We narrow the gap between <span
                            class="has-accent-1" data-scramble>Products</span> & <span class="has-accent-1"
                            data-scramble>Customers</span>
                    </h1>
                </div>
                <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;"></div>
            </div>
            <div id="color-overlay"></div>
            <div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
            <div id="jarallax-container-0"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 70vh; overflow: hidden; z-index: -100;">
                <img class="jarallax-img" src="{% static 'assets/img/neote/team.jpg' %}" alt="" loading="lazy"
                    style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1910px; height: 743.2px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: -92.1px; transform: translate3d(0px, 3042.52px, 0px);">
            </div>
        </section>

        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 8.125rem; --ptf-md: 4.0625rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-xl-6">

                        <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                            <h2 class="large-heading has-white-color">Neotelabs is the company if you <br> want to grow online.
                            </h2>
                        </div>
                    </div>
                    <div class="col-xl-6 d-none d-xl-block">
                        <p>We have a go-getter mentality and take the customer with us. With clear communication, without lengthy meetings or other unnecessary fuss, we embark on the adventure together. No empty promises or sweet talk, but immediately demonstrable results!

                        </p>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
        </section>
        <!-- team starts her -->
        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-xl-10">

                        <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                            <h1 class="large-heading has-white-color">The face of NeoteLabs</h1>

                            <div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
                            <p class="fz-24">Meet our talents team of creative, fun-lovers and magic makers.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
        </section>
        <!-- team ends here -->
        <section>
            <div class="container-xxl">
                <div class="ptf-team-member-grid">

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-1-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Stephan Bowie</a></h6>
                                <p class="ptf-team-member__function">Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-2-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Robert Downey Jr</a></h6>
                                <p class="ptf-team-member__function">Brand Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-3-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Robert Downey Jr</a></h6>
                                <p class="ptf-team-member__function">Brand Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-4-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Laura Lorwence</a></h6>
                                <p class="ptf-team-member__function">Project Management
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="400">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-5-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">David De Berg</a></h6>
                                <p class="ptf-team-member__function">Lead of Technical
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-6-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Bill Kenney</a></h6>
                                <p class="ptf-team-member__function">UX Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-7-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Erik Reagan</a></h6>
                                <p class="ptf-team-member__function">UX Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-8-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Brenda Roger</a></h6>
                                <p class="ptf-team-member__function">UI Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-9-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Kyle Taylor</a></h6>
                                <p class="ptf-team-member__function">Front-End Developer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="400">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-10-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Sarah McHugh</a></h6>
                                <p class="ptf-team-member__function">Back-End Developer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-11-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Elena Stephan</a></h6>
                                <p class="ptf-team-member__function">Co Founder
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-12-m.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Andy Robertson</a></h6>
                                <p class="ptf-team-member__function">CEO Founder
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">

                        <div class="ptf-team-member">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/new-member.png' %}" alt=""
                                        loading="lazy"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        </section>
        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 11.875rem; --ptf-md: 5.9375rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-lg-4">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                            <h2 class="h1 large-heading has-white-color">Our<br>Awards</h2>
                        </div>

                        <div class="ptf-spacer" style="--ptf-lg: 3.75rem;"></div>
                    </div>
                    <div class="col-lg-8">

                        <ul class="ptf-rewards-list ptf-rewards-list--small"
                            style="--ptf-border-width: 2px; --ptf-border-color: var(--ptf-color-01);">

                            <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="0">
                                <div class="ptf-rewards-item__date">2021
                                </div>
                                <div class="ptf-rewards-item__logo"><img
                                        src="{% static 'assets/img/root/rewards/logo-4.png' %}" alt="" loading="lazy">
                                </div>
                                <div class="ptf-rewards-item__content">
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">POTY 2021</a>
                                            </h5><span>SPA Brand Redesign</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Design Inspiration #5</a>
                                            </h5><span>MNX Business Card</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                </div>
                            </li>
                            <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="100">
                                <div class="ptf-rewards-item__date">2020
                                </div>
                                <div class="ptf-rewards-item__logo"><img
                                        src="{% static 'assets/img/root/rewards/logo-2.png' %}" alt="" loading="lazy">
                                </div>
                                <div class="ptf-rewards-item__content">
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Websites Of The Year 2020</a>
                                            </h5><span>Lewis Studio</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Websites Of The Month, August
                                                    2020</a>
                                            </h5><span>Liarch Architecture Firm Website</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Best 20 Websites Favourite 2020</a>
                                            </h5><span>Bauhaus Arc Site</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                </div>
                            </li>
                            <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="200">
                                <div class="ptf-rewards-item__date">2019
                                </div>
                                <div class="ptf-rewards-item__logo"><img
                                        src="{% static 'assets/img/root/rewards/logo-3.png' %}" alt="" loading="lazy">
                                </div>
                                <div class="ptf-rewards-item__content">
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">1st Winner Portfolio Review US
                                                    2019</a>
                                            </h5><span>Designer Logan Cee</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        </section>
    </article>
</main>
{% endblock content %}