{% extends 'pages/base.html' %}
{% load static %}

{% block content %}
<main class="ptf-main">
    <article class="ptf-page ptf-page--about-us">
        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
            <div class="container-xxl">
                <div class="row align-items-center">
                    <div class="col-xl-6">

                        <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                            <h1 class="large-heading has-white-color">Neotelabs</h1>
                        </div>

                        <div class="ptf-spacer" style=" --ptf-xxl: 2.8125rem;"></div>

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">
                            <p class="fz-30 fw-bold text-uppercase has-3-color">Digital solutions for <br>your business
                            </p>
                        </div>

                        <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
                        <div class="row">
                            <div class="col-xl-8">
                                <div style="max-width: 29.6875rem;">

                                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">

                                        <div class="ptf-divider"></div>

                                        <div class="ptf-spacer" style=" --ptf-xxl: 4.375rem; --ptf-md: 2.1875rem;">
                                        </div>
                                        <p class="fz-24">We help our client suceed by creating identities, digital
                                            experiences, andprintmaterials that communicate clearly, achieve marketing
                                            goals &amp; look fantastic.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6">

                        <div class="ptf-spacer" style=" --ptf-xl: 5.625rem;"></div>

                        <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="300">
                            <div class="text-center">

                                <div class="ptf-mask-image"><img src="{% static 'assets/img/about-us-main-image.jpg' %}"
                                        alt="" loading="lazy"
                                        style="--ptf-mask-image: url(../img/root/about-us/about-us-main-image-mask.png);"><img
                                        src="{% static 'assets/img/root/about-us/about-us-main-image-layer-1.png' %}"
                                        alt="" loading="lazy"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        </section>
        <section>
            <div class="container-xxl">

                <div class="ptf-divider"></div>
            </div>
        </section>
        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-lg-3">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                            <h1 class="large-heading has-white-color">Our <br>Services</h1>

                            <div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
                            <p class="fz-18">We help ambitious businesses like yours generate more profits by building
                                awareness, driving web traffic, connecting with customers and growing overall sales.</p>
                        </div>

                        <div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;"></div>
                    </div>
                    <div class="col-lg-8 offset-lg-1">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                            <div class="ptf-service-box "><a class="ptf-service-box__link"
                                    href="service-detail.html"></a>
                                <div class="ptf-service-box__icon"><i class="lnil lnil-cup"></i></div>
                                <h5 class="ptf-service-box__title">Brand <br>Consultant</h5>
                                <div class="ptf-service-box__content">
                                    <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                    </p>
                                </div>
                                <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                            </div>
                        </div>

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                            <div class="ptf-service-box "><a class="ptf-service-box__link"
                                    href="service-detail.html"></a>
                                <div class="ptf-service-box__icon"><i class="lnil lnil-website-rank"></i></div>
                                <h5 class="ptf-service-box__title">UI/UX <br>Solution</h5>
                                <div class="ptf-service-box__content">
                                    <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                    </p>
                                </div>
                                <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                            </div>
                        </div>

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                            <div class="ptf-service-box "><a class="ptf-service-box__link"
                                    href="service-detail.html"></a>
                                <div class="ptf-service-box__icon"><i class="lnil lnil-3d"></i></div>
                                <h5 class="ptf-service-box__title">Packaging</h5>
                                <div class="ptf-service-box__content">
                                    <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                    </p>
                                </div>
                                <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                            </div>
                        </div>

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                            <div class="ptf-service-box "><a class="ptf-service-box__link"
                                    href="service-detail.html"></a>
                                <div class="ptf-service-box__icon"><i class="lnil lnil-video-camera-alt-1"></i></div>
                                <h5 class="ptf-service-box__title">Motion Video <br>&amp; TVC</h5>
                                <div class="ptf-service-box__content">
                                    <p>We build and activate brands throung cultural insight &amp; strategic vision.
                                    </p>
                                </div>
                                <div class="ptf-service-box__arrow"><i class="lnil lnil-chevron-right"></i></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        </section>
        <section class="jarallax">

            <div class="ptf-spacer" style="--ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-xl-4">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0"><img
                                src="{% static 'assets/img/root/quote.png' %}" alt="" loading="lazy">
                        </div>

                        <div class="ptf-spacer" style=" --ptf-xl: 3.75rem;"></div>
                    </div>
                    <div class="col-xl-8">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">

                            <div class="ptf-testimonial ptf-testimonial--style-2"
                                style="--ptf-text-align: left; --ptf-content-color: var(--ptf-color-white); --ptf-author-color: var(--ptf-color-white); --ptf-info-color: var(--ptf-color-white);">
                                <div class="ptf-testimonial__content">
                                    <p>“I don’t know what else to say, this is something that you haven’t seen before.
                                        Unique design, lightweight, and outstanding support!”</p>
                                </div>
                                <div class="ptf-testimonial__meta">
                                    <h6 class="ptf-testimonial__author">Pavel. S
                                    </h6>
                                    <div class="ptf-testimonial__info">CEO at Liarch Studio</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
            <div id="jarallax-container-0"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; z-index: -100;">
                <img class="jarallax-img" src="{% static 'assets/img/about-us-testimonial-background.png' %}" alt=""
                    loading="lazy"
                    style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1910px; height: 743.2px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: -92.1px; transform: translate3d(0px, 3042.52px, 0px);">
            </div>
        </section>
        <!-- team starts her -->
        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-xl-10">

                        <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                            <h1 class="large-heading has-white-color">The face of NeoteLabs</h1>

                            <div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
                            <p class="fz-24">Meet our talents team of creative, fun-lovers and magic makers.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
        </section>
        <!-- team ends here -->
        <section>
            <div class="container-xxl">
                <div class="ptf-team-member-grid">

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-1-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Stephan Bowie</a></h6>
                                <p class="ptf-team-member__function">Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-2-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Robert Downey Jr</a></h6>
                                <p class="ptf-team-member__function">Brand Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-3-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Robert Downey Jr</a></h6>
                                <p class="ptf-team-member__function">Brand Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-4-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Laura Lorwence</a></h6>
                                <p class="ptf-team-member__function">Project Management
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="400">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-5-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">David De Berg</a></h6>
                                <p class="ptf-team-member__function">Lead of Technical
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-6-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Bill Kenney</a></h6>
                                <p class="ptf-team-member__function">UX Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-7-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Erik Reagan</a></h6>
                                <p class="ptf-team-member__function">UX Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-8-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Brenda Roger</a></h6>
                                <p class="ptf-team-member__function">UI Designer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-9-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Kyle Taylor</a></h6>
                                <p class="ptf-team-member__function">Front-End Developer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="400">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-10-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Sarah McHugh</a></h6>
                                <p class="ptf-team-member__function">Back-End Developer
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-11-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Elena Stephan</a></h6>
                                <p class="ptf-team-member__function">Co Founder
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">

                        <div class="ptf-team-member ptf-team-member--has-effect">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/team-12-m.png' %}" alt="" loading="lazy"></a>
                            </div>
                            <div class="ptf-team-member__content">
                                <h6 class="ptf-team-member__name"><a href="#">Andy Robertson</a></h6>
                                <p class="ptf-team-member__function">CEO Founder
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">

                        <div class="ptf-team-member">
                            <div class="ptf-team-member__avatar">
                                <div class="shadow-effect"></div><a href="#"><img
                                        src="{% static 'assets/img/root/team/new-member.png' %}" alt="" loading="lazy"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        </section>
        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 11.875rem; --ptf-md: 5.9375rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-lg-4">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                            <h2 class="h1 large-heading has-white-color">Our<br>Awards</h2>
                        </div>

                        <div class="ptf-spacer" style="--ptf-lg: 3.75rem;"></div>
                    </div>
                    <div class="col-lg-8">

                        <ul class="ptf-rewards-list ptf-rewards-list--small"
                            style="--ptf-border-width: 2px; --ptf-border-color: var(--ptf-color-01);">

                            <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="0">
                                <div class="ptf-rewards-item__date">2021
                                </div>
                                <div class="ptf-rewards-item__logo"><img
                                        src="{% static 'assets/img/root/rewards/logo-4.png' %}" alt="" loading="lazy">
                                </div>
                                <div class="ptf-rewards-item__content">
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">POTY 2021</a>
                                            </h5><span>SPA Brand Redesign</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Design Inspiration #5</a>
                                            </h5><span>MNX Business Card</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                </div>
                            </li>
                            <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="100">
                                <div class="ptf-rewards-item__date">2020
                                </div>
                                <div class="ptf-rewards-item__logo"><img
                                        src="{% static 'assets/img/root/rewards/logo-2.png' %}" alt="" loading="lazy">
                                </div>
                                <div class="ptf-rewards-item__content">
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Websites Of The Year 2020</a>
                                            </h5><span>Lewis Studio</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Websites Of The Month, August 2020</a>
                                            </h5><span>Liarch Architecture Firm Website</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">Best 20 Websites Favourite 2020</a>
                                            </h5><span>Bauhaus Arc Site</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                </div>
                            </li>
                            <li class="ptf-rewards-item aos-init" data-aos="fade" data-aos-delay="200">
                                <div class="ptf-rewards-item__date">2019
                                </div>
                                <div class="ptf-rewards-item__logo"><img
                                        src="{% static 'assets/img/root/rewards/logo-3.png' %}" alt="" loading="lazy">
                                </div>
                                <div class="ptf-rewards-item__content">
                                    <div class="ptf-rewards-project">
                                        <div class="ptf-rewards-project__content">
                                            <h5 class="has-white-color"><a href="#">1st Winner Portfolio Review US 2019</a>
                                            </h5><span>Designer Logan Cee</span>
                                        </div>
                                        <div class="ptf-rewards-project__link"><a
                                                class="ptf-link-with-arrow text-uppercase fz-14" href="#">See
                                                project</a></div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        </section>
    </article>
</main>
{% endblock content %}