{% extends "pages/base.html" %}

{% block content %}
<main class="ptf-main">
    <article class="ptf-page ptf-page--contact">
        <section>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-xl-10">

                        <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                            <h1 class="large-heading has-white-color">Let's get you an <br>estimate</h1>

                            <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 2.5rem;"></div>
                            <a class="ptf-social-icon ptf-social-icon--style-3 twitter" href="#" target="_blank"><i
                                    class="socicon-twitter"></i></a>
                            <a class="ptf-social-icon ptf-social-icon--style-3 facebook" href="#" target="_blank"><i
                                    class="socicon-facebook"></i></a>
                            <a class="ptf-social-icon ptf-social-icon--style-3 instagram" href="#" target="_blank"><i
                                    class="socicon-instagram"></i></a>
                            <a class="ptf-social-icon ptf-social-icon--style-3 pinterest" href="#" target="_blank"><i
                                    class="socicon-pinterest"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style="--ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>
        </section>
        <section>
            <div class="container-xxl">
                <div class="row">
                    <div class="col-lg-4">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                            <h5 class="fz-14 text-uppercase has-3-color fw-normal">Address</h5>

                            <div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
                            <p class="fz-20 lh-1p5 has-white-color">Warioba streets, Mwai Kibaki road. Dar es saalaam Tanzania</p>
                        </div>

                        <div class="ptf-spacer" style=" --ptf-xxl: 2.1875rem;"></div>

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="100">
                            <h5 class="fz-14 text-uppercase has-3-color fw-normal">Email</h5>

                            <div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
                            <p class="fz-20 lh-1p5 has-white-color"><a href="mailto:info@neotelabs.com">info@neotelabs.com<br></a>
                            </p>
                        </div>

                        <div class="ptf-spacer" style=" --ptf-xxl: 2.1875rem;"></div>

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="200">
                            <h5 class="fz-14 text-uppercase has-3-color fw-normal">Phone</h5>

                            <div class="ptf-spacer" style=" --ptf-xxl: 1.25rem;"></div>
                            <p class="fz-20 lh-1p5 has-white-color"><a href="tel:+255766328259">+255766328259</a></p>
                        </div>

                        <div class="ptf-spacer" style=" --ptf-lg: 4.375rem; --ptf-md: 2.1875rem;"></div>
                    </div>
                    <div class="col-lg-8">

                        <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="300">
                            <h5 class="fz-14 text-uppercase has-3-color fw-normal">Tell us about your project and goals.
                            </h5>

                            <div class="ptf-spacer" style=" --ptf-xxl: 3.125rem;"></div>
                            <form>
                                <div class="ptf-form-group">
                                    <label data-number="01">What’s your name?</label>
                                    <input class="is-large" type="text">
                                </div>
                                <div class="ptf-form-group">
                                    <label data-number="02">What’s the name of your organization?</label>
                                    <input class="is-large" type="text">
                                </div>
                                <div class="ptf-form-group">
                                    <label data-number="03">What’s your email address?</label>
                                    <input class="is-large" type="text">
                                </div>
                                <div class="ptf-form-group">
                                    <label data-number="04">Tell us about your project goals in a snapshot.</label>
                                    <input class="is-large" type="text">
                                </div>
                                <div class="ptf-form-group">
                                    <label data-number="05">Do you have a timeline in mind?</label>
                                    <input class="is-large" type="text">
                                </div>
                                <div class="ptf-form-group">
                                    <label data-number="06">What have you budgeted for this project?</label>
                                    <select class="is-large">
                                        <option value="">$30,000 and under</option>
                                        <option value="100-200">100$-200$</option>
                                        <option value="200-500">200$-500$</option>
                                        <option value="500-1000">500$-1000$</option>
                                    </select>
                                </div>

                                <div class="ptf-spacer" style=" --ptf-xxl: 2.5rem;"></div>
                                <div class="ptf-form-group">
                                    <label class="ptf-checkbox" for="terms">
                                        <input class="d-none" type="checkbox" id="terms"><span
                                            class="ptf-checkbox__checkmark has-white-color"></span>I agree to receive occasional
                                        MoonexLabs newsletters containing news &amp; advice on creating personal and
                                        business progress via digital tech.
                                    </label>
                                </div>

                                <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem;"></div>
                                <button class="ptf-submit-button has-white-color">
                                    Submit<svg xmlns="http://www.w3.org/2000/svg" fill="#fff"
                                        viewBox="0 0 17 17">
                                        <path d="M16 .997V10h-1V2.703L4.683 13l-.707-.708L14.291 1.997H6.975v-1H16z">
                                        </path>
                                    </svg></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
        </section>
    </article>
</main>
{% endblock content %}