<ul class="sf-menu">
    <li><a href="">Work</a></li>
    <li><a href="{% url 'pages:about' %}">About</a></li>
    <li><a href="">Our Work</a></li>
    <li><a href="">Products</a></li>
    <li><a href="">Career</a></li>
    <li><a href="">News</a></li>
    <li><a href="{% url 'pages:contact' %}">Contact</a></li>
    <!-- <li class="menu-item-has-children two-columns"><a href="#"><span>Pages</span></a>
        <ul class="sub-menu">
            <li><a href="about-us.html"><span>About Us</span></a>
            </li>
            <li><a href="about-me.html"><span>About Me</span></a>
            </li>
            <li><a href="services.html"><span>Services</span></a>
            </li>
            <li><a href="service-detail.html"><span>Service Detail</span></a>
            </li>
            <li><a href="pricing.html"><span>Pricing</span></a>
            </li>
            <li><a href="team.html"><span>Team</span></a>
            </li>
            <li><a href="faq.html"><span>FAQ</span></a>
            </li>
            <li><a href="contact.html"><span>Contact</span></a>
            </li>
            <li><a href="404.html"><span>Page 404</span></a>
            </li>
            <li><a href="coming-soon.html"><span>Coming Soon</span></a>
            </li>
        </ul>
    </li> -->
</ul>