{% extends 'pages/base.html' %}
{% load static %}



{% block content %}
<main class="ptf-main">
    <article class="ptf-single-post">
        <header class="ptf-single-post__header ptf-single-post__header--style-1">
            <div class="container-xxl">
                <h1 class="ptf-single-post__title">{{ insight.insight }}</h1>
                <div class="ptf-single-post__meta"><span class="cat has-white-color">Inspiration</span><span class="date has-white-color">Dec 7, 2021</span>
                </div>
            </div>
        </header>

        <div class="ptf-single-post__media">
            <div class="container-xxl"><img src="{{ insight.cover.url }}" alt="" loading="lazy"></div>
        </div>

        <div class="ptf-single-post__wrapper">
            <div class="container-xxl">
                <div class="row">
                    <div class="col-xl-8 offset-xl-2">
    
                        <div class="ptf-single-post__info"><a class="author" href="#"><i class="lnil lnil-user"></i>by
                                <span>Admin</span></a><a class="view" href="#"><i class="lnil lnil-eye"></i>5,6k Views</a><a
                                class="comments" href="#"><i class="lnil lnil-comments"></i>3 Comments</a><a class="report"
                                href="#"><i class="lnil lnil-warning"></i>Report</a></div>
                        <div class="ptf-single-post__content">
                            {{ insight.content.html|safe }}
                            <div class="ptf-spacer" style=" --ptf-xxl: 5rem; --ptf-md: 2.5rem;"></div>
                        </div>
    
                        <footer class="ptf-single-post__footer">

                            <div class="ptf-post-socials"><span class="has-white-color">Share on</span>
                                <a class="ptf-social-icon ptf-social-icon--style-4 facebook" href="#" target="_blank"><i
                                        class="socicon-facebook"></i></a>
                                <a class="ptf-social-icon ptf-social-icon--style-4 twitter" href="#" target="_blank"><i
                                        class="socicon-twitter"></i></a>
                                <a class="ptf-social-icon ptf-social-icon--style-4 pinterest" href="#" target="_blank"><i
                                        class="socicon-pinterest"></i></a>
                                <a class="ptf-social-icon ptf-social-icon--style-4 linkedin" href="#" target="_blank"><i
                                        class="socicon-linkedin"></i></a>
                            </div>
                        </footer>
                </div>
            </div>
        </div>

    </article>
</main>
{% endblock content %}