{% extends 'pages/base.html' %}
{% load static %}


{% block content %}
<main class="ptf-main">
    <article class="ptf-page ptf-page--portfolio-grid">
        <section class="jarallax">

            <div class="ptf-spacer" style="--ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
            <div class="container">
                <div class="ptf-animated-block" data-aos="fade" data-aos-delay="0">
                    <h1 class="fz-130 fz-90--md fw-normal has-white-color">We narrow the gap between <span
                            class="has-accent-1" data-scramble>Products</span> & <span class="has-accent-1"
                            data-scramble>Customers</span>
                    </h1>
                </div>
                <div class="ptf-spacer" style=" --ptf-xxl: 5.625rem; --ptf-md: 2.8125rem;"></div>
            </div>
            <div id="color-overlay"></div>
            <div class="ptf-spacer" style=" --ptf-xxl: 12.5rem; --ptf-md: 6.25rem;"></div>
            <div id="jarallax-container-0"
                style="position: absolute; top: 0px; left: 0px; width: 100%; height: 70vh; overflow: hidden; z-index: -100;">
                <img class="jarallax-img" src="{% static 'assets/img/neote/team.jpg' %}" alt="" loading="lazy"
                    style="object-fit: cover; object-position: 50% 50%; max-width: none; position: fixed; top: 0px; left: 0px; width: 1910px; height: 743.2px; overflow: hidden; pointer-events: none; transform-style: preserve-3d; backface-visibility: hidden; will-change: transform, opacity; margin-top: -92.1px; transform: translate3d(0px, 3042.52px, 0px);">
            </div>
        </section>

        <section>
            <div class="ptf-spacer" style=" --ptf-xxl: 10rem; --ptf-md: 5rem;"></div>
            <div class="container-xxl">

                <div class="ptf-animated-block aos-init aos-animate" data-aos="fade" data-aos-delay="0">
                    <ul class="ptf-filters ptf-filters--style-1" id="ptf-filter-grid">
                        <li class="filter-item filter-item-active" data-filter="*">All</li>
                        {% for cat in category %}
                        <li class="filter-item" data-filter=".filter-1">{{ cat.category }}</li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="ptf-spacer" style=" --ptf-xxl: 6.25rem; --ptf-md: 3.125rem;"></div>

                <div class="ptf-animated-block aos-init" data-aos="fade" data-aos-delay="0">
                    {% for proj in project %}
                    <div class="ptf-isotope-grid" data-columns="2" data-layout="masonry" data-x-gap="170"
                    data-y-gap="120" data-controls="#ptf-filter-grid"
                    style="--ptf-gutter-x:170px; --ptf-gutter-y:120px; position: relative; height: 1835.09px;">
                    <div class="grid-sizer"></div>
                    <div class=" grid-item filter-1 filter-4 filter-7"
                        style="position: absolute; left: 0px; top: 0px;">

                        <article class="ptf-work ptf-work--style-1 ptf-work--large-title">
                            <div class="ptf-work__media"><a class="ptf-work__link"
                                    href="{{ proj.get_absolute_url }}"></a><img
                                    src="{{ proj.cover.url }}" alt="" loading="lazy">
                            </div>
                            <div class="ptf-work__meta">
                                <div class="ptf-work__category">UI/UX
                                </div>
                                <h4 class="ptf-work__title has-white-color"><a href="{{ proj.get_absolute_url }}">{{ proj.project }}</a>
                                </h4>
                            </div>
                        </article>
                    </div>
                </div>
                    {% endfor %}
                </div>
            </div>

            <div class="ptf-spacer" style=" --ptf-xxl: 8.125rem; --ptf-md: 4.0625rem;"></div>
        </section>
    </article>
</main>
{% endblock content %}